---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  	
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <img src="{{ site.baseurl }}/{{ post.image }}" alt = "project cover image" class="coverimg"/>
      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <p>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </p>

    </article>

   	
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous Page</a>   
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next Page</a>
  {% endif %}
</div>
