<section itemscope itemtype="http://schema.org/Person">
<p>
I am a researcher in the field of geoinformation technologies with extensive experience in applying the results in various fields. My task is to find the most useful presentation of data and their effective work.
</p>

<p>
  Currently I am working as a <span itemprop="jobTitle">Manager GIS</span> at <span itemprop="affiliation"><a href="http://ast.ua/" itemprop="url">AST </a></span>(Agrarian System Technologies, Inc.). I support the GIS portal product through user experience design and research. I control the integrity and accuracy of the company's geo-information. 
</p>
  
<p>
  Before Esri I worked in the field of GIS, unmanned technology and satellite data. Also worked in the field of ecology.
</p>

<p>
  I graduated from <span itemprop="alumniOf">Taurida National V.I. Vernadsky University</span> (TNU) with a <strong>Masters</strong> degree in Ecology  in 2006.
</p>

<h3>Contact me</h3>

<a href="mailto:sergeyshchus@gmail.com" itemprop="email">sergey.shchus@gmail.com</a>
</section>