<section itemscope itemtype="http://schema.org/Person">
<p>
I am a human factors and user experience researcher with rich experience in shaping complex technology to promote usability and user experience. My involvement in the user-centered design process includes user research, conceptual design, prototyping, and iterative usability evaluation.
</p>

<p>
  Currently I am working as a <span itemprop="jobTitle">UX Architect</span> at <span itemprop="affiliation"><a href="http://www.esri.com" itemprop="url">Esri </a></span>(Environmental Systems Research Institute, Inc.). I support the ArcGIS Online product through user experience design and research. I am also part of the effort of ensuring accessibility compliance of the ArcGIS Online product. 
</p>
  
<p>
  Before Esri I worked as the Digital User Experience Specialist at Purdue University Libraries. At Purdue I worked on a number of user experience design and research projects focused on the library's website, discovery tool, and other web applications such as <a href="https://sites.lib.purdue.edu/crowdask/">CrowdAsk</a>, <a href="https://dmptool.org">Data Management Planning Tool</a> and <a href="https://habricentral.org/">HABRI Central</a>.
</p>

<p>
  I graduated from <span itemprop="alumniOf">North Carolina State University</span> (NCSU) with a <strong>PhD</strong> degree in Industrial Engineering specialized in <strong>Human Factors</strong> in August, 2009. I received my <strong>Masters</strong> (specialized in <strong>Human-Computer Interaction</strong>) in July, 2006 and <strong>Bachelors</strong> degree in July, 2004, both in Industrial Engineering from <span itemprop="alumniOf">Tsinghua University</span>, Beijing, China.
</p>

<h3>Contact me</h3>

<a href="mailto:zhangtao2000@gmail.com" itemprop="email">zhangtao2000@gmail.com</a>
</section>
